:root {
	--text-color: black;
	--bg-color: white;
}
body {
	background-color: var(--bg-color);
}
p {
	color: var(--text-color);
}
img {
	height: 25px;
	width: auto;
	transition: 0.2s;
}
img:hover {
	transform: scale(1.125);
	transition: 0.2s;
}
img:active {
	transform: scale(0.975);
	transition: 0.2s;
}
.blur-screen {
	height: 100vh;
	width: 100vw;
	position: absolute;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	background-color: rgba(127, 127, 127, 0.25);
	z-index: 99;
	display: none;
	opacity: 0;
	transition: 0.5s;
}
.modal-window {
	transform: translateY(-125%);
}
form.write-modal {
	display: none;
	visibility: hidden;
}
form.edit-modal {
	display: none;
	visibility: hidden;
}
form.clear-modal {
	display: none;
	visibility: hidden;
}
.modal-window {
	background-color: var(--bg-color);
	position: absolute;
	border: solid 1px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	height: auto;
	padding: 10%;
	width: 90%;
	margin: 5%;
	z-index: 100;
	transition: 0.5s;
}
input {
	border-radius: 5px;
	margin: 10px 0;
	border: solid 1px rgba(127, 127, 127, 0.25);
}
.modal-title {
	padding: 0;
	font-size: 20px;
}
.save {
	border-radius: 5px;
	padding: 0;
	background-color: var(--text-color);
	color: var(--bg-color);
	border: solid 1px rgba(127, 127, 127, 0.25);
	transition: 0.15s;
}
.save:active {
	border-radius: 5px;
	padding: 0;
	background-color: var(--bg-color);
	color: var(--text-color);
	border: solid 1px rgba(127, 127, 127, 0.25);
	transition: 0.15s;
}
.card {
	background-color: rgba(0, 0, 0, 0.0125);
	height: 100px;
	width: 95%;
	border-radius: 15px;
	margin: 2.5%;
	border: solid 1px rgba(0, 0, 0, 0.25);
	transition: 0.2s;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
}
.card:hover {
	transform: scale(1.0125);
	transition: 0.2s;
}
.card:active {
	transform: scale(0.9875);
	transition: 0.2s;
}
.number-con {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
	overflow: hidden;
}
.info-con {
	width: 100%;
	height: 100%;
}
.day-budget {
	display: flex;
	align-items: start;
	height: 50%;
	margin: 0;
	padding: 0 5px;
	font-size: 30px;
	font-weight: 700;
}
.day-trat {
	display: flex;
	align-items: end;
	height: 50%;
	margin: 0;
	padding: 5px;
	font-size: 20px;
	font-weight: 400;
}
.day-number {
	font-size: 100px;
	font-weight: 900;
	margin: 0;
	padding: 0 7.5%;
	opacity: 0.66;
}
.reset {
	background-color: var(--bg-color);
	border-radius: 15px;
	font-size: 20px;
	border: solid 1px rgba(127, 127, 127, 0.25);
	color: red;
	font-weight: 100;
	transition: 0.25s;
	height: 45px;
	width: 150px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
}
.reset:hover {
	transform: scale(1.025);
	transition: 0.25s;
}
.reset:active {
	transform: scale(0.9875);
	background-color: red;
	color: white;
	transition: 0.25s;
}
