header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	height: 60px;
}
.WeaklyBudget {
	margin: 0 !important;
	font-size: 28px;
	font-weight: 700;
}
.DayIndex {
	margin: 0 !important;
	font-size: 32px;
	font-weight: 900;
}
.BackBtn {
	width: auto;
	height: 40px;
}
.BetweenCon {
	width: 100%;
}
